body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color: #343a40;
}

form {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

input {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 4px;
}

.category-buttons {
    margin-bottom: 20px; 
}

.category-buttons button {
    margin-right: 10px; 
    padding: 10px 15px; 
    border: 1px solid #ccc; 
    border-radius: 5px;
    cursor: pointer; 
    background-color: #1e6a6e;
}

.category-buttons button:hover {
    background-color: #e0e0e0; 
}

.category-buttons button.active {
    background-color: #0f3739; 
    color: white; 
    border: 1px solid #0f3739; 
}

.create-button {
    margin-top: 10px; 
    padding: 10px 15px; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
    cursor: pointer; 
    background-color: #0011ff;
}

.create-button:hover {
    background-color: #e0e0e0; 
}

.toggle-hidden-catalog-button {
    margin-top: 10px;
    padding: 10px 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    background-color: #28a745;
}

.toggle-hidden-catalog-button:hover {
    background-color: #218838;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.product-card {
    flex: 1 1 calc(33.333% - 20px);
    max-width: calc(33.333% - 20px);
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 15px;
    text-align: center;
}

@media (max-width: 900px) {
    .product-card {
        flex: 1 1 calc(50% - 20px);
        max-width: calc(50% - 20px);
    }
}

@media (max-width: 600px) {
    .product-card {
        flex: 1 1 100%;
        max-width: 100%;
    }
}

/* Error and success messages */
.error-message {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
    padding: 15px;
    margin: 10px 0;
    border-radius: 5px;
}

.success-message {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
    padding: 15px;
    margin: 10px 0;
    border-radius: 5px;
}

